# Use in the analyses
git+https://github.com/executablebooks/github-activity.git
python-dateutil
seaborn
pandas
numpy
altair
markdown
ipywidgets
matplotlib

# Infrastructure for running stuff
jupyterlab
papermill
jupyter-book
black
